@font-face {
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 400;
  src: local('Monoton'), local('Monoton-Regular'), url(https://fonts.gstatic.com/s/monoton/v7/y6oxFxU60dYw9khW6q8jGw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 700;
  src: local('Jura Bold'), local('Jura-Bold'), url(https://fonts.gstatic.com/s/jura/v9/rjYXrqsqAlKenmAdHHYptw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 700;
  src: local('Syncopate Bold'), local('Syncopate-Bold'), url(https://fonts.gstatic.com/s/syncopate/v9/S5z8ixiOoC4WJ1im6jAlYOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v14/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

body {
    font-size: 16px;
}

#intro {
    background-image: url(../images/londoneye.jpg);
    background-position: center;
    background-size: cover;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.intro h1 {
    font-size: 6rem;
    font-family: 'Monoton';
    color: #54CC14;
    z-index: 1;
    position: relative;
    text-shadow: 0 0 20px black;
    margin: 2rem 0;
}

.intro h2 {
    font-size: 3rem;
    font-family: 'Open Sans';
    color: #A1E30B;
    background-image: linear-gradient(45deg, #A1E30B, #D9D60A);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    z-index: 1;
    position: relative;
    text-shadow: 0 0 50px black;
    animation: hue 10s infinite linear, neon 1.5s infinite alternate;
    transition: all 500ms ease-out 300ms;
    cursor: pointer;
}

.intro h2:hover {
    animation: hue 10s infinite linear;
    text-shadow: 0 0 100px black;
}

@keyframes hue {
    0% {filter: hue-rotate(0);}
    100% {filter: hue-rotate(360deg);}
}

/*
@keyframes neon {
    from {
    text-shadow: 0 0 2.5px #fff, 0 0 5px #fff, 0 0 7.5px #fff, 0 0 10px #A1E30B, 0 0 17.5px #A1E30B, 0 0 20px #A1E30B, 0 0 25px #A1E30B, 0 0 37.5px #A1E30B;
    }
  to {
    text-shadow: 0 0 1.25px #fff, 0 0 2.5px #fff, 0 0 3.75px #fff, 0 0 5px #A1E30B, 0 0 8.75px #A1E30B, 0 0 10px #A1E30B, 0 0 12.5px #A1E30B, 0 0 18.75px #A1E30B;
  }
}
*/

/*************************************/

#skills {
/*    background-color: #5AD0FF;*/
/*    background-color: #FC4533;*/
    background-image: linear-gradient(180deg, #eef2f3, #8e9eab);
    background-image: linear-gradient(90deg, #005C97, #363795);
/*
    background-image: url(../images/code-bg.png);
    background-position: center;
    background-size: cover;
*/
}

.fa {
    color: white;
    font-size: 4rem;
/*    padding-top: 1rem;*/
    transition: all 300ms ease-out 100ms;
}

.iconholder {
    margin: 2rem;
    height: 5rem;
    width: 5rem;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(182, 210, 222, 0.7);
    transition: all 300ms ease-out 300ms;
}

.skilldesc:hover .iconholder {
/*    background-color: rgba(255, 255, 255, 1);*/
}

.fa-mobile {
    font-size: 6rem;
}

.skills {
    display: flex;
    flex-direction: column;
/*    justify-content: center;*/
    align-items: center;
    height: 100%;
    background-color: rgba(90, 208, 255, 0.2);
}

.skills h1 {
    font-size: 4rem;
    font-family: 'Open Sans';
    color: white;
    margin-top: 6rem;
}

.skillbox {
    display: flex;
    justify-content: center;
/*    align-items: center;*/
    width: 100%;
    height: 30rem;
}

.devicon {
    font-size: 6rem;
    color: white;
/*    color: black;*/
    position: relative;
    transition: all 300ms ease-out 100ms;
}



.skilldesc {
    min-height: 10rem;
    width: 23%;
    margin: 1rem;
/*    background-color: rgba(0, 175, 80, 0.8);*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
/*    box-shadow: 0 0 5px #00AF50;*/
    transition: all 300ms ease-out 100ms;
    cursor: pointer;
}

.skilldesc:hover {
    box-shadow: 0 0 5px black;
/*    background-color: rgba(0, 175, 80, 0.8);*/
    background-color: rgba(82, 98, 141, 0.8);
}

.skilldesc:hover .sq {
    transform: rotate(405deg) scale(1);
/*    background-color: white;*/
}

.skilldesc:hover .sq1 {
    transform: rotate(360deg) scale(1);
/*    background-color: white;*/
}

.skilldesc:hover .fa {
    font-size: 3rem;
}

.skilldesc:hover .fa-mobile {
    font-size: 5rem;
}

.skilldesc:hover .skillheader {
    padding-bottom: 1rem;
/*    padding-top: 3rem;*/
}

.skillheader {
    font-size: 1.8rem;
    color: white;
    font-family: 'Lato';
    text-align: center;
    padding: 1rem 1rem 0rem 1rem;
    transition: all 300ms ease-out 100ms;
}

.skilltext {
    color: white;
    padding: 1rem;
    text-align: center;
    font-family: sans-serif;
    line-height: 1.2;
    transition: all 300ms ease-out 100ms;

}

.sq {
    width: 6rem;
    height: 6rem;
/*    background-color: aliceblue;*/
    position: absolute;
/*    background-color: #FC4533;*/
    transform: rotate(360deg) scale(0);
    transition: all 300ms ease-out 100ms;
/*    background-image: linear-gradient(45deg, #A1E30B, #D9D60A);*/
    border: 5px solid #A1E30B;
    animation: hue 10s infinite linear;
}

.sq1 {
    transform: rotate(45deg) scale(0);
/*    background-color: #FC4533;*/
    transition: all 300ms ease-out 100ms;
}

@keyframes hue {
    0% {filter: hue-rotate(0);}
    100% {filter: hue-rotate(360deg);}
}

.skilldesc:hover .html5 {
    color: #e34f26;
    font-size: 5rem;
}

.skilldesc:hover .css3 {
    color: #274fe3;
    font-size: 5rem;
}

.skilldesc:hover .javascript {
    color: #f7df1e;
    font-size: 5rem;
}

.skilldesc:hover .bootstrap {
    color: #6c39b8;
    font-size: 5rem;
}

.skilldesc:hover .csharp {
    color: #5c2e91;
    font-size: 5rem;
}

.skilldesc:hover .asp {
    color: #0772b5;
    font-size: 5rem;
}

.test {
    height: 50px;
    width: 50px;
    transform: rotate(45deg) scale(0.1);
    background-color: aliceblue;
    transition: all 1s ease-out 500ms;
}

.test:hover {
    transform: rotate(405deg) scale(1);
    background-color: red;
}

/**************************************************/

.portlanding {
/*
    background-image: url(../images/chess.jpg);
    background-size: cover;
    background-position: center;
    background-color: transparent;
*/
    
    background-image: linear-gradient(90deg, #e65c00, #F9D423);
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0rem;
}

#particles-js {
    position: relative;
}